_backups/
workspace/**/bin/
workspace/**/obj/
workspace/**/.vs/
workspace/**/packages/
Locale/
*.user
*.suo
Server/**/bin/
Server/**/obj/
Server/**/.vs/
Server/**/*.user
Server/**/*.suo
Server/**/*.tmp
